// COLORS
// PRIMARY
$primary-100: #EAF0FB;
$primary-200: #C7D6F2;
$primary-300: #859DD2;
$primary-400: #566893;
$primary-500: #2B3958;

// SECONDARY
$secondary-100: #F8F082;
$secondary-200: #F7E139;
$secondary-300: #F7CD35;
$secondary-400: #F7AA2E;
$secondary-500: #C98822;

// DARK
$white: white !default;
$dark-100: #F9F7F7;
$dark-200: #BFBFBF;
$dark-300: #636363;
$dark-400: #343434;
$dark-500: #212121;
$black: black !default;

$color-hilite: red !default;
